<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../stylesheets/detail.css" media="(max-width:1023px)">
  <title>detail</title>
</head>
<body>
  <div class="header_wrapper">
    <header>
      <div class="header_top"><span class="header_box">
          <div class="header_left"></div>
          <div class="header_right"><a class="author">Annie Spratt</a><a class="belong">@anniespratt</a></div></span></div>
      <div class="header_bottom">
        <div class="btn1"><a class="like">Like It</a></div>
        <div class="btn2"><a class="download"><span class="icon"></span><span style="color: #fff">Download</span></a></div>
      </div>
    </header>
  </div>
  <div class="main"><a class="img_link"><img src="../images/9.jpg" width="375"></a>
    <p class="description">Single hand that wipes tears during failures is much better than countless hands that come together to clap on success.</p>
  </div>
  <footer>
    <div class="other1">
      <div class="other1_topWrapper">
        <div class="other1_top">
          <div class="pic_left"><img src="../images/8.jpg" width="245"></div>
          <div class="pic_right">
            <div class="pic1"><img src="../images/6.jpg" width="105"></div>
            <div class="pic2"><img src="../images/7.jpg" width="105"></div>
          </div>
        </div>
      </div>
      <div class="other1_dsc">
        <p><strong>Cities</strong></p>
        <p class="au">3 Photos · Curated by Zoe Zheng</p>
      </div>
      <div class="tag">
        <div class="tag1"><a>Italy</a></div>
        <div class="tag1"><a>Building</a></div>
        <div class="tag1"><a>City</a></div>
      </div>
    </div>
  </footer>
  <div class="rel">
    <p>Related tags</p>
    <div class="rel_tags">
      <div class="tag_a"><a>Home</a></div>
      <div class="tag_a"><a>Sea</a></div>
      <div class="tag_a"><a>Distance</a></div>
      <div class="tag_a"><a>Wooden</a></div>
      <div class="tag_a"><a>Market</a></div>
      <div class="tag_a"><a>Miss</a></div>
      <div class="tag_a"><a>Foods</a></div>
      <div class="tag_a"><a>Sun</a></div>
    </div>
  </div>
</body>