<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../fonts/font-awesome.css">
  <link rel="stylesheet" href="../stylesheets/list.css">
  <title>List</title>
</head>
<body>
  <nav><a class="left fa fa-align-justify fa-2x"></a>
    <div class="middle">TULIP</div><a class="right fa fa-heart fa-2x"></a>
  </nav>
  <div class="copy"><img src="../images/icon.png" width="120"></div>
  <div class="list">
    <ul class="list_wrapper">
      <li class="list_item">
        <div class="img"><img src="../images/7.jpg"></div>
        <h3>Sea</h3>
        <p>Life is a journey, not the destination, but the scenery along the should be and the mood at the view./p)</p>
        <div class="small_icon"><span class="left"><a class="fa fa-paperclip fa-1x"></a><span>Link</span></span><span class="right"></span><a class="fa fa-heart fa-1x" style="color: palevioletred;"></a><span>Like</span></div>
      </li>
    </ul>
  </div>
</body>